<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by Amit, who wants to learn web development.
  </p>

  <p>
    If you want to learn how to code too, <a target="_blank" href="https://online.bootcampspot.com"> click here</a>.
  </p>



  <div class="row">
    <div class="col-12 col-sm-4">
        <%= image_tag 'me.png', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Amit Roy</h2>
      <br />
      <p>
        Amit Roy is an aspirant web developer who has a background in Economics. In additon, Amit enjoys exploring hiking and exploring new places. Amit is also a big fan of Legend of Zelda.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>